body {
    position: absolute;
    margin: auto;
    padding: 100px;
    font-size: 18pt;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.a, .b, .c {
    flex-direction: column;
}

.a {
    position: relative;
    margin: 10px;
    padding: 20px;
    height: 1200px;
    left: 170px;
    flex: 3; /* Reduzindo o tamanho de .a para 30% */
    transform: translate(-48%, -0.8%);
    display: flex;
    justify-content:center;
    color: rgb(25, 0, 255);
    text-align: center;
    border: 2px solid #000;
    border-radius: 0px 20px 20px 0px;
}


.b, .c {
    flex: 0.35;
    padding: 30px;
    max-width: 600px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 10px 10px 10px 10px rgba(255, 0, 0, 0.5); /* Sombra vermelha para .b */
    border: 2px solid transparent; /* Removendo a borda colorida para manter a sombra visível */
}

.b img, .c img {
    max-width: 100%;
}

.b {
    border: 2px solid #ff0000;
}

.c {
    border: 2px solid #ffbb00;
    box-shadow: 10px 10px 10px 10px rgba(255, 187, 0, 0.5); /* Sombra laranja para .c */
}

.d {
    width: 100%;
    padding: 5px 10px; /* Reduzindo o padding vertical para 5px */
    text-align: center;
    border: 2px solid #000000;
    border-radius: 0 20px 20px 20px;
}

footer {
    width: 100%; /* Adicionado para ocupar todo o espaço disponível */
    padding: 20px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 20px 20px 0 0;
    background-color: #000;
    color: #ffffff;
}
